@import "variables.scss";
@import "functions.scss";


.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh; // Hace que el container ocupe la altura completa de la pantalla
    background-color: white;
    padding: pxToEm($px_base*2);
    border: pxToEm($px_base*0.1) solid #ddd;
    border-radius: pxToEm($px_base*0.8);
    box-shadow: 0em pxToEm($px_base*0.4) pxToEm($px_base) rgba(0, 0, 0, 0.1);


    h1 {
        color: #333;
        font-weight: bold;
        margin-bottom: pxToEm($px_base*2);
    }
}
