@use 'sass:color';

@import "variables.scss";
@import "functions.scss";



.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: pxToEm($px_base*2);
    background-color: $primary;
    border-radius: pxToEm($px_base*0.8);
    box-shadow: 0em pxToEm($px_base*0.4) pxToEm($px_base*0.8) rgba(0, 0, 0, 0.1);
    max-width: pxToEm($px_base*40);
    margin: -(pxToEm($px_base*2)) auto 0em;
    .input-group {
        width: 100%;
        margin-bottom: pxToEm($px_base*1.5);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .input-label {
        font-weight: bold;
        margin-bottom: pxToEm($px_base*0.5);
        color: $color_input;
    }

    .input-field {
        width: 100%;
        padding: pxToEm($px_base);
        border: pxToEm($px_base*0.1) solid #ccc;
        border-radius: pxToEm($px_base*0.5);
        font-size: pxToEm($px_base*1.6);
        background-color: white;
    }

    .button-group {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-button {
        padding: pxToEm($px_base) pxToEm($px_base*2);
        font-weight: bold;
        border-radius: pxToEm($px_base*0.5);
        background-color: $button_search;
        border: none;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: darken($button_search, 10%);
        }
    }
}


.show-section {
    .nav-tabs, 
    .list-group {
      .list-group-item {
        background-color: white;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          background-color: adjust-color($primary, $lightness: 40%, $saturation: -30%);
          box-shadow: 0em pxToEm($px_base*0.4) pxToEm($px_base*0.8) rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  