// Variables bootstrap
@import '../node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


$px_base: 10px;
$primary: $warning;
$button_search: #00509E;
$color_input: #333;
$background_body_color: #f0ffff;
$font-family-roboto-condensed: 'Roboto Condensed', sans-serif;